= form_for @offering do |f|
  - if @offering.errors.any?
    #error_explanation
      %h2= "#{pluralize(@offering.errors.count, "error")} prohibited this offering from being saved:"
      %ul
        - @offering.errors.full_messages.each do |msg|
          %li= msg
  %h1.inline_fields
    #{current_user.display_name} is
    = f.text_field :actionable_name
  %h2 Description
  = f.text_area :description, :class => 'redactor'
  %h2 Pricing
  .pricing
    - if @offering.prices.any?
      = f.fields_for :prices do |builder|
        = render 'price_fields', :f => builder
    - else
      You did not define a pricing structure. Without a pricing structure, the service will be offered to students for free.
    = link_to_add_fields '<i class="fa fa-plus"></i> Add Pricing'.html_safe, f, :prices
  .actions
    = f.submit 'Save'
