!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title stupid.sucks!
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #top_bar
      .wrapped
        .links
          - if current_user
            = link_to 'Logout', destroy_user_session_path, :method=>'delete'
          - else
            = link_to 'Login', new_user_session_path
        %h1
          = image_tag 'logo.png', :height => '22'
          stupid.sucks!
    #content
      - if flash[:notice]
        .wrapped
          .notice= flash[:notice]
      = yield

    #footer
      .wrapped
        .column.span-4
          %p © stupid.sucks
          %p All Rights Reserved
          %p Privacy Policy | Terms
        .column.span-4
          %h4 Company
          %p About
          %p Contact
          %p Team
          %p Jobs
        .column.span-4
          %h4 Resources
          %p Become a teacher
          %p Partners
          %p Investors
          %p Press Kit
